.container {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.content {
	height: 100vh;
	width: 60%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

.content h1 {
	align-self: flex-start;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

.content p {
}